<h1> Área do Candidato </h1> 

<% if @applicants.empty? %>
  <p> Perfil não cadastrado </p>
  <%= link_to 'Cadastrar Perfil', new_applicant_path %>
<% else %>
  <%= link_to 'Meu Perfil', meu_perfil_path %>
<% end %>
