<h1>Vagas Cadastradas</h1> 

<% @jobs.each do |job| %>
  <%= link_to job.title, job %>
<% end %>

<% if @jobs.empty? %>
  <p> Nenhuma vaga cadastrada </p>
<% end %>

<%= link_to 'Cadastrar nova vaga', new_job_path%>